.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.history
.ionide
.vscode/*.code-snippets
*.code-workspace
secrets/
.secrets/
token.txt
.token/txt
.config.py
config.py/
config.py
main.db
.main.db
